.login {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login .overlap-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 832px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 100%;
  background-position: center;
  background-image: url(img/acsits-3.png);
}

.login .overlap {
  position: relative;
  width: 1572px;
  height: 1080px;
  left: -292px;
}

.login .ACSITS {
  position: absolute;
  width: 1280px;
  height: 832px;
  top: 0;
  left: 292px;
  object-fit: cover;
}

.login .ellipse {
  width: 99px;
  height: 95px;
  top: 477px;
  left: 882px;
  border-radius: 49.5px/47.5px;
  position: absolute;
  background: linear-gradient(180deg, rgb(6, 14, 97) 0%, rgba(0, 135.48, 255, 0.55) 80.73%);
}

.login .rectangle {
  position: absolute;
  width: 493px;
  height: 473px;
  top: 191px;
  left: 1005px;
  background-color: #f5f5fa;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
}

.login .frame {
  display: flex;
  width: 290px;
  height: 51px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 502px;
  left: 1107px;
  background-color: #060e61;
  border-radius: 20px;
}

.login .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: normal;
}

.login .Button {
  background-color: #060e61;
  border-radius: 20px;
  font-size: 20px;
  font-family: "Plus Jakarta Sans", Helvetica;
  color: #ffffff;
  box-shadow: 0px 1px 1px #00000040;
  display: flex;
  width: 290px;
  height: 51px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  letter-spacing: 2; 
  word-wrap:'break-word';
  cursor: pointer;
}

.login .div {
  position: absolute;
  width: 633px;
  top: 201px;
  left: 372px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 60px;
  letter-spacing: 0;
  line-height: normal;
}

.login .text-wrapper-2 {
  position: absolute;
  width: 429px;
  top: 226px;
  left: 1064px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.login .logo {
  position: absolute;
  width: 213px;
  height: 215px;
  top: 0;
  left: 559px;
  object-fit: cover;
}

.login .frame-2 {
  position: absolute;
  width: 431px;
  height: 50px;
  top: 320px;
  left: 1038px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.login .text-wrapper-3 {
  position: absolute;
  width: 202px;
  top: 14px;
  left: 49px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: #0000003d;
  font-size: 15px;
  letter-spacing: 1.5px;
  line-height: normal;
}

.login .letter {
  position: absolute;
  width: 28px;
  height: 26px;
  top: 12px;
  left: 9px;
}

.login .frame-3 {
  position: absolute;
  width: 431px;
  height: 50px;
  top: 394px;
  left: 1034px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.login .eye {
  position: absolute;
  width: 35px;
  height: 18px;
  top: 12px;
  left: 392px;
}

.login .overlap-group {
  position: absolute;
  width: 245px;
  height: 26px;
  top: 12px;
  left: 0;
}

.login .text-wrapper-4 {
  position: absolute;
  width: 202px;
  top: 2px;
  left: 43px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: #0000003d;
  font-size: 15px;
  letter-spacing: 1.5px;
  line-height: normal;
}

.login .password-key {
  position: absolute;
  width: 67px;
  height: 26px;
  top: 0;
  left: 0;
}

.login .text-wrapper-5 {
  position: absolute;
  top: 569px;
  left: 1128px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 11px;
  letter-spacing: 1.1px;
  line-height: normal;
}

.login .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 560px;
  left: 1275px;
}

.login .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #3b47c4;
  font-size: 11px;
  letter-spacing: 1.1px;
  line-height: normal;
  text-decoration: underline;
}

.login .ellipse-2 {
  width: 666px;
  height: 645px;
  top: 435px;
  left: 0;
  border-radius: 333px/322.5px;
  position: absolute;
  background: linear-gradient(180deg, rgb(6, 14, 97) 0%, rgba(0, 135.48, 255, 0.55) 80.73%);
}

.login .add-a-heading {
  position: absolute;
  width: 490px;
  height: 435px;
  top: 333px;
  left: 426px;
  object-fit: cover;
}
